@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um Erro";
}



@{
    if (Model == null)
    {
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }else{
        <h1 class="text-danger">@Html.Raw(Model.Titulo)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Mensagem)</h2>
    }
}
